
.btn-one{
    background-color: $color-primary;
    padding: 10px;
    border: 1px solid $color-dark;
    border-radius: 3px;
    color:$color-white;
}

.btn-two{
    background-color:$color-red; 
    padding: 10px;
    border: 1px solid $color-dark;
    border-radius: 3px;
    color:$color-white;
}